body{
    margin: 0;
    padding: 0;
}
.topbar-container{
    border-bottom: 1px solid #e4e4e4;
}
.topbar-fixed{
    display: flex;
    align-items: center;
    margin: 24px 28px 0 28px;
}

.logo-container {
    margin: 0;
    padding-right: 50px;
}

.logo-container img {
    height: 30px;
    width: 92px;
}
#searchbar-container{
    margin-left: 10px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    height: 44px;
    border-radius: 24px;
    width: 690px;
}
#searchbar-splitter{
    display: flex;
    align-items: center;
    padding-top: 5px;
}
#searchbar-container input{
    border: none;
    width: 95%;
}
.searchbar-right{
    display: flex;
    align-items: center;
}
#searchbar-container:hover{
    outline: none;
    border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
#searchbar-container input:focus{
    outline: none;
}
.top-right{
    display: flex;
    align-items: center;
    margin-left: auto;
}
#apps-google{
    width: 20px;
}

.apps-container{
    padding-top: 2px;
    padding-right: 20px;
}
#iniciar-sesion{
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    background: #4285f4;
    color: #FFF;
    line-height: 28px;
    border-radius: 3px;
}

.topbar-bottom{
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin: 0 auto 0 190px;
    padding-bottom: 15px;
}

.topbar-bottom div a{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #5f6368;
    list-style: none;
    text-decoration: none;
}

#resultados{
    line-height: 43px;
    font-size: 14px;
    color: #70757a;
    font-family: Arial, Helvetica, sans-serif;
}
.article1{
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: none;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    width: 600px;
    text-align: justify;
}
.article1 h3:hover{
    text-decoration: underline;
}
.articles-body{
    margin-top: 30px;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
}

.articles-body div a{
    text-decoration: none;
}

.articles-body div a h3{
    margin-top: 5px;
    margin-bottom: 0px;
}

.articles-body div a h3:hover{
    text-decoration: underline;
}

.articles-body p{
    margin-top: 10px;
}

.videos-wrapper{
    display: flex;
}

.videos-section{
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: none;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    width: 229px;
    height: 315px;
    padding-bottom: 5px;
    margin-right: 10px;
    position: relative;
}
.videos-section img{
    width: 100%;
}
.videos-section-bottom{
    padding: 0 15px 0 15px;
}
.videos-section-bottom h3{
    padding-bottom: 20px;
    font-family: arial;
    font-weight: inherit;
}

.videos-section-bottom-bottom{
    padding: 0 15px 0 15px;
    position: absolute;
    bottom: 0;
}

.videos-section-bottom-bottom p{
    margin: 5px;
    font-size: 14px;
    color: #70757a;
    font-family: arial;
    font-weight: inherit;
}
.videos-section-bottom h3 a{
    text-decoration: none;

}
.videos-section-bottom h3 a:hover{
    text-decoration: underline;
}

.google-pages{
    margin-top: 40px;
    width: 500px;
    text-align: center;
}
.pages-number{
    text-align: left;
    margin-left: 133px;
}
.pages-number a{
    padding-right: 8px;
    text-decoration: none;
    color: #0000ff;
    font-size: 16px;
}

.
.pages-number a:hover{
    text-decoration: underline;
}


footer{
    margin-top: 30px;
    background: #f2f2f2;
    color: rgba(0,0,0,.54);
    width: 100%;
}

footer div {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    
}

footer div a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
    padding-right: 10px;
    margin-left: 30px;
}

.footer-text{
    padding-left: 160px;
}
